In [1]:
x = 5

print(type(x))

<class 'int'>

In [2]:
y = 9.
print(type(y))

<class 'float'>

In [3]:
y = 'lal'
print(type(y))

<class 'str'>

In [4]:
x =1j
print(type(x))

<class 'complex'>

In [5]:
x = ['apple','banana','cherry']
print(type(x))

<class 'list'>

In [6]:
x = ('apple','banana','cherry')
print(type(x))

<class 'tuple'>

In [7]:
x = range(6)
print(type(x))

<class 'range'>

In [8]:
x ={'name':'lal babu','age':30}
print(type(x))

<class 'dict'>

In [9]:
x = {'apple','banana','cherry'}

print(type(x))

<class 'set'>

In [10]:
x = frozenset({'apple','banana','cherry'})
print(type(x))

<class 'frozenset'>

In [11]:
x = True
print(type(x))

<class 'bool'>

In [12]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [13]:
x

b'Hello'

In [14]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [15]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [16]:
x = None
print(type(x))

<class 'NoneType'>

In [17]:
x = str("Hello world")
print(type(x))
print(x)

<class 'str'>
Hello world

In [18]:
x = int(20)
print(type(x))
print(x)

<class 'int'>
20

In [19]:
x = float(20)
print(type(x))
print(x)

<class 'float'>
20.0

In [20]:
x = list(('apple','banana','cherry'))
print(type(x))
print(x)

<class 'list'>
['apple', 'banana', 'cherry']

In [21]:
x = tuple(('apple','banana','cherry'))
print(type(x))
print(x)

<class 'tuple'>
('apple', 'banana', 'cherry')

In [22]:
x = set(('apple','banana','cherry'))
print(type(x))
print(x)

<class 'set'>
{'banana', 'apple', 'cherry'}

In [23]:
x = frozenset(('apple','banana','cherry'))
print(type(x))
print(x)

<class 'frozenset'>
frozenset({'banana', 'apple', 'cherry'})

In [24]:
x = bool(5)
print(type(x))
print(x)

<class 'bool'>
True

In [25]:
# python casting

In [26]:
int(3)

3

In [27]:
int(3.0)

3

In [28]:
int("3")

3

In [29]:
float(1)

1.0

In [30]:
float(1.)

1.0

In [31]:
float("3")

3.0

In [32]:
str(1.0)

'1.0'

In [33]:
str(1)

'1'

In [34]:
str("1")

'1'

In [35]:
"good morning"

'good morning'

In [37]:
x = str('good morning')

In [38]:
x

'good morning'

In [39]:
x[:2]

'go'

In [40]:
x[::2]

'go onn'

In [41]:

x[::-2]

'girmdo'

In [42]:
x[::-1]

'gninrom doog'

In [43]:
x[1:5]

'ood '

In [46]:
x[0:6:2]

'go '

In [47]:
x[3:]

'd morning'